:root {
    --primary-color: #012736;
    --secondary-color: #045d80;
    --tertiary-color: #c2dddf;
    --font-color : #EFF6E0;
}

* {margin: 0; font-family: 'Outfit', 'Courier New';}
.title, footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#menu {
    border: 0;
    background: none;
    color: #ffffff;
    position: absolute;
    right: 0;
}

#menu::before {
    content: "☰"
}

#menu.open::before {
    content:"X";
}


nav {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav button {
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border: 0;
    color: var(--tertiary-color);
    font-size: larger;
    justify-content: center;
    align-items: center;
    transition: background-color, 0.3s ;
}

.open button {
   display: flex;
}


nav button:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
}

main {
    max-width: 700px; 
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
    background-color: var(--tertiary-color);
}

#album {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

#album div {
      margin: 2rem auto;
      border: 1px solid #ddd;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      background-color: #fff;
}

#album h2 {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    margin-bottom: 1rem;
}

#album p {
      font-size: 1.1rem;
      font-style: italic;
      color: #555;
}

#album img {
    width: 399px;
    height: 250px;
    display: block;
    margin-top: 1rem;
}