:root {
    --primary-color: #012736;
    --secondary-color: #045d80;
    --tertiary-color: #c2dddf;
    --font-color : #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Courier New';
}

header, footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    min-height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 420px;
    background: transparent;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 30px 40px;   
}

h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.container input, .container textarea, .container select {
    height: 100%;
    border: none;
    outline: none;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.container input:hover {
    color: var(--primary-color);
}

.btn input {
    width: 100%;
    background: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    height: 5vh;
}

.btn input:hover {
    background: var(--primary-color);
    color: var(--font-color);
    font-size: 18px;
}

.radio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.star-rating {
    display: flex;
    flex-direction: column;
}

.checkbox-box {
    padding: 10px;
}


.checking {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    flex-direction: row;
}

.checking input {
    padding: 10px;
    border: none;
    outline: none;
    margin-right: 10px;
    width: 15px;
    height: 15px;
}