:root {
    --primary-color: #01161E;
    --secondary-color: #2b4167;
    --tertiary-color: #c0d2f0;
    --font-color : #dfdfdf;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', 'Courier New';
}


.data, .weather { 
    margin: 1rem 2rem;
}

header, footer {
    background-color: var(--secondary-color);
    color: var(--font-color);
    text-align: center;
    height: 10vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box p, .weather p {
    display: inline;
}

div {
    margin: 10px;
    text-align: center;
}

div::after {
    padding: 10px;
}

div h2 {
    font-size: 35px;
}

img {
    width: 100%;
}

div  ul {
    padding: 30px;
}

.data {
    align-self: flex-start;
}

.weather {
    align-self: flex-end;
}

.weather-icon {
    width: 100px;
}